* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Raleway", sans-serif;
}
.titulo,
.titulo-pri {
  background-color: #c33319;
  color: white;
  padding: 10px;
  margin: 8px 0px;
  font-family: "Bebas Neue", cursive;
}
.titulo-pri {
  font-family: "Bebas Neue", cursive;
}

.foto {
  max-width: 100px;
  height: auto;
}


.card {
  background-color: #2f2f2f;
}
p {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
.icon {
  width: 80px;
  margin: 10px;
}
.espacio{
    margin-top: 67px;
  }
  a:link {
    text-decoration: none;
    color: #DC3545;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }

  .link {
    color: #DC3545;
  }
