*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
.titulo {
    background-color: #c33319;
    color: white;
    padding-left: 10px;
    margin:8px 0px;
    font-family: 'Bebas Neue', cursive;
}
.titulo-pri {
    background-color: #c33319;
    color: white;
    padding-left: 10px;
    font-family: 'Bebas Neue', cursive;
}

.navegacion { 
    background-color: #f3f1ed;
    text-align: center;
    padding: 0px;
}
.foto {
    max-width: 100px;
    height: auto;
}
a{
    text-decoration: none;
    justify-content: left;
    color: rgb(112, 112, 112);
    font-size: 110%;
}
a:hover{
    color: red;
}
.card{
    background-color: #f3f1ed
}
nav{
    position: sticky;
}
p{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.btn{
    background-color: #c33319;
    color: white;
}
.icon{
    width: 50px;
    margin:10px
}

