* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Raleway", sans-serif;
}
.titulo,
.titulo-pri {
  background-color: #c33319;
  color: white;
  padding: 10px;
  margin: 8px 0px;
  font-family: "Bebas Neue", cursive;
}
.titulo-pri {
  font-family: "Bebas Neue", cursive;
}

.foto {
  max-width: 100px;
  height: auto;
}


.card {
  background-color: #2f2f2f;
}
p {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
.icon {
  width: 80px;
  margin: 10px;
}
.icon-small{
  width: 50px;
  margin: 10;
}
.espacio{
    margin-top: 67px;
  }
.enlace > a:link {
  text-decoration: none;
  color: #DC3545;
}
  
.enlace > a:visited {
  text-decoration: none;
  color: #DC3545;
}

.enlace > a:hover {
  text-decoration: none;
  color: #DC3545;
}

.enlace > a:active {
  text-decoration: none;
  color: #DC3545;
}

.link {
  color: #DC3545;
}
